body{
	margin-left: 100px;
	margin-right: 100px;
	background: lightblue;
	font-family: Arial, sans-serif;
}

.gallery-foreground{
	background: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	text-align: center;
}

.gallery-navbar{
	display: inline;
}

.gallery-navbar-home, .gallery-navbar-gallery, .gallery-navbar-reviews, .gallery-navbar-booking, .gallery-navbar-calendar, .gallery-navbar-feedback{
	display: inline;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

a:link{
	text-decoration: none;
}

.lower-floor-info{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.lower-floor-pics{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.lower-floor{
	margin-bottom: 50px;
}

.main-floor-info{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.main-floor-pics{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.main-floor{
	margin-bottom: 50px;
}

.top-floor-info{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.top-floor-pics{
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

.top-floor{
	margin-top: 50px;
}

@media all and (max-width: 760px){
	
	body {
		margin-left: 0px;
		margin-right: 0px;
	}

	ul {
		display: flex;
  		justify-content: center;
  		flex-wrap: wrap;
	}

	.gallery-navbar-home, .gallery-navbar-gallery, .gallery-navbar-reviews, .gallery-navbar-booking, .gallery-navbar-calendar, .gallery-navbar-feedback {
		padding: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.gallery-foreground {
		width: 400px;
	} 

	.lower-floor-info, .main-floor-info, .top-floor-info {
		display: none;
	}

	.lower-floor-pics, .main-floor-pics, .top-floor-pics {
		width: 100%;
	}

	.basement1, .basement2, .main1, .main2, .top1, .top2 {
		width: 300px;
	}

	.main-floor-pics {
		display: block;
		justify-content: center;
	}
}