body{
	margin-left: 100px;
	margin-right: 100px;
	background: lightblue;
	font-family: Arial, sans-serif;
}

.home-foreground{
	background: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	text-align: center;
}

.navbar{
	display: inline;
}

li{
	display: inline;
	font-weight: bold;
	padding: 50px;
	text-align: center;
}

a:link{
	text-decoration: none;
}

.home-intro-heading{
	text-align: center;
}

.home-paragraph-map{
	display: inline-block;
	width: 49%;
}

.home-map{
	text-align: center;
}

.home-pics{
	display: inline-block;
	width:49%;
}

@media all and (max-width: 760px){
	body{
		margin-left: 5%;
		margin-right: 5%;
	}

	ul {
		display: flex;
  		justify-content: center;
  		flex-wrap: wrap;
	}

	.home-navbar-home, .home-navbar-gallery, .home-navbar-feedback {
		padding: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.home-intro-heading1{
		font-size: 1.5em;
	}

	.home-intro-heading2{
		font-size: 1.0em;
	}

	.home-foreground{
		width: 90%;
		vertical-align: center; 
	}

	.home-paragraph-map{
		width: 90%;
	}

	.home-pics{
		display: none;
	}

	.home-map{
		display: none;
	}
}

